body {
    color: white;
    background-color: rgb(29, 29, 32);
}

a {
    text-decoration: none;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a:link, a:visited {
    color: white;
}


a:hover {
    font-weight: bold;
    font-size: 50px;
}


nav {
    text-align: center;
    font-size: 25px;
    padding-top: 3.5em;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 500px;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    position: relative;
    bottom: 300px;
    font-family: Arial, Helvetica, sans-serif;
}