@import url(pagesmobile.css);
@import url(pagestablet.css);

body {
    color: white;
    background-color: rgb(29, 29, 32);
}

a {
    text-decoration: none;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
}

nav a:link, nav a:visited {
    color: white;
}

nav a:hover {
    font-weight: bold;
    font-size: 50px;
    text-shadow: #ffffff 0 0 10px
}

nav {
    text-align: center;
    font-size: 25px;
    padding-top: 3.5em;
    width: 100%;
    margin-bottom: 50px;
}

main {
    padding-top: 3em;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 62px;
}

/*For Desktop Usage*/
@media screen and (min-width: 961px)  {

    nav a:hover {
        font-weight: bold;
        font-size: 45px;
        text-shadow: #ffffff 0 0 10px
    }

    nav {
        float: right; /*This floats the nav elements to the right where it should be*/
        margin-top:  -15em; /*This moves the nav elements above where it should be*/
    
        

    }

    h1 {
        text-align: center;
        margin-top: 500px;
        font-size: 150px;
        font-family: Arial, Helvetica, sans-serif;
    }

}