@import url(pagestablet.css);
@import url(pagesmobile.css);

/*Universal Styles*/

html {
    background-color: rgb(29, 29, 32);
}

/*Nav Bar*/

nav {
    text-align: center;
    font-size: 25px;
    padding-top: 3.5em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em; /*Places some space between elements*/
}

nav ul li {
    list-style-type: none;
}

/*Main Content*/

body {
    color: white;
    background-color: rgb(29, 29, 32);
}

nav a {
    text-decoration: none;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
}

a:link, a:visited {
    color: white;
}


main {
    margin: 0 150px;
    justify-content: center;
}

main p a {
    text-decoration: none;
    font
}

/*For Desktop Usage*/
@media screen and (min-width: 961px)  {

    nav a:hover {
        font-weight: bold;
        font-size: 45px;
        text-shadow: #ffffff 0 0 10px
    }

    nav {
        margin-top:  3em; /*This moves the nav elements above where it should be*/
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        padding: 0.5em;
    }

    main h1 {
        font-size: 50px;
    }


}