@media screen and (min-width: 641px){

    nav {
        display: inline-block;
    }

    nav a:hover {
        font-weight: bold;
        font-size: 30px;
        text-shadow: #ffffff 0 0 10px
    }

    nav li {
        display: inline-block;
    }

    main h1 {
        font-size: 50px;
    }

}